.biographie{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20rem;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.blur{
    position: absolute;
    z-index: -1;
    height: 30%;
    width: 80vw;
    margin-top: 8rem;
    border-radius: 10px;
    background: linear-gradient(94deg, rgba(155, 81, 224, 0.80) 2.84%, #3081ED 99.18%);
    filter: blur(100px);
    opacity: 50%;
}

.biographie_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 70%;
}

.biographie_title{
    font-weight: 500;
    font-size: 48px;
}

.biographie_text{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .biographie_title{
        font-size: 32px;
    }
    .biographie_text{
        font-size: 14px;
    }
    .biographie_content{
        width: 80%;
        gap: 2rem;
    }
  }