body{
    background-color: #1F1D2B !important;
}
.container_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0vw 10vw 0vw;
    color: white !important;
}
.all-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}
.info-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.info-title h1{
    font-size: 4rem;
    font-weight: bold;
}
.info-music ul{
    padding: 0%;
}
.lst-item{
    display: flex;
    justify-content: space-between;
}
.lst-item li{
    list-style: none;
}

.main-cover{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 45%;
}
.main-cover-band{
    width: 100%;
    transform: scaleX(-1);
    border-radius: 20px;
    border: 2px solid #AC5EFF;
}
.social-media{
    display: flex;
    gap: 1rem;
}
.social-media-icons a{
    color: transparent !important;
}
.social-media-icons a{
    margin: 0px 10px 0px;
}
.social-media-icons img{
    width: 25px;
}