.navbar{
    background-color: #100f17;
    padding: 1vw 5vw 1vw !important;
}
.navbar-brand img{
    width: 150px;
}
.nav_h3{
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    letter-spacing: 2.45px;
    font-size: 15px;
    font-weight: 500;

    background: linear-gradient(to right, #9B51E0,#636AE7,#3081ED);
    background-clip: text;
    -webkit-background-clip:text;
}

.nav-link img{
    width: 25px;
}

.navbar-toggler{
    background-color: white !important;
}

.nav_h3:hover{
    color:rgba(0,0,0,0);
}